.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(141, 76%, 48%);
    padding-left: 10px;
}
  
.Track-action {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.2rem;
    transition: color .25s;
    border: none;
    background-color: rgb(14, 14, 14);
    color: #fff;
}
  
.Track-action:hover {
    color: hsl(141, 76%, 48%);
}
  
.Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
    padding-left: 10px;
}

.Track-image{
    position: relative;
}

.Track-image img{
    border-radius: 5px;
    display: block;
    max-height: 50px;
    max-width: 50px;
}

.PlayPause-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    background: none;
    border: none;
    transform: translate(-50%, -50%);
    font-size: 1.3em;
    color: hsla(0, 0%, 0%, 0.8);
}

.PlayPause-btn:hover{
    color: hsl(0, 0%, 0%);
}
  
.Track-information h3 {
    font-family: 'Gotham-Light', Arial, sans-serif;
    color: #FFFFFF;
    margin-bottom: .22rem;
}
  
.Track-information p {
    font-family: 'Gotham-Light', Arial, sans-serif;
    color: #FFFFFF;
    font-size: .83rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
}