@font-face {
    font-family: 'Gotham-Bold';
    src: url('./assets/fonts/Gotham-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('./assets/fonts/Gotham-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

